.carrousel {
    position: relative;
    
  }
  
  .arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .arrow {
    cursor: pointer;
    height: 79.2px;
    color: white;
    @include mobile{
      height: 24px;
      
    }
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    overflow: hidden;
    opacity: 0;
    
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide-pic {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
    @include mobile{
      height: 255px;  
      border-radius: 10px;
    }
  }
  
  .pagination {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    @include mobile{
      display: none;
    }
  }
  
  .pagination span {
    cursor: pointer;
    margin: 0 5px;
  }
  
  .pagination span.active {
    font-weight: bold;
  }
  