/* Mixin pour le breakpoint mobile */
@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}


/* animate the top banner */
@mixin card-animate {
    transition: 500ms ease-in-out;

    &:hover {
        opacity: 0.8;
        box-shadow: $shadow;
    }
}


@mixin mobileCard{
    width: 335px;
    height: 255px;
}