/*    Breakpoint     */
$mobile: 768px;

/*  shadow */
$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

/*  margin */
$marginM: 20px 20px 28px 20px;


$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);