@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	margin: 0;
}
.content-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin-bottom: 139px;
    @include mobile{
        gap: 113px;
    }
    &_title{
        font-size: 288px;
        color: #FF6060;
        @include mobile{
            font-size: 96px;
        }
    }
    &_text{
        font-size: 36px;
        color: #FF6060;
        text-align: center;
        @include mobile{
            font-size: 18px;
        }
    }
}

.Collapse-container {
    margin: 38px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mobile{
        margin: $marginM;
        gap:20px;
    }
    @include tablet{
        margin: $marginT;
        gap: 25px;
    }
}
.collapse-text{
    padding: 10px 0;
    line-height: 142.6%
}
.fiche-container{
    margin: 38px 100px;
    .fiche{
        margin-top: 30px;
        .fiche-content {
            display: flex;
            justify-content: space-between;
            &_title h1 {
                font-size: 36px;
                font-weight: 500;
                color: #FF6060;
            }
            &_title p{
                font-size: 18px;
            }
            &_profile {
                display: flex;
                gap: 10px;
                p {
                    font-size: 18px;
                    color: #FF6060;
                    width: 93px;
                    text-align: right;
                    font-weight: 500;
                    line-height: 142.6%
                }
                img{
                    border-radius: 50%;
                    height: 64px;
                }
            }
        }
        
        .collapse-fiche-container {
            width: 100%;
            display: flex;
            gap: 76px;
        }
    }   
    

}