@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	margin: 0;
}
.content-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin-bottom: 139px;
    &_title{
        font-size: 288px;
        color: #FF6060;
    }
    &_text{
        font-size: 36px;
        color: #FF6060;
    }
}

.Collapse-container {
    margin: 38px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mobile{
        margin: $marginM;
        gap:20px;
    }
    @include tablet{
        margin: $marginT;
        gap: 25px;
    }
}
.collapse-text{
    padding: 10px 0;
    line-height: 142.6%
}