.header{
    margin: 45px 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_logo .logo{
        height: 68px;
    }
    &_nav{
        font-size: 24px;
        font-weight: 500;

        &_link-home , &_link-home-active {
            padding-left: 57px;
        }
        &_link-home , &_link-about {
            text-decoration: none;
        }
        &_link-home-active , &_link-about-active {
            line-height: 142.6%; /* 34.224px */
            text-decoration-line: underline;
        }

    }

}