.header{
    margin: 45px 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile{
        margin: $marginM;
        gap: 15px;
        /*flex-wrap: wrap;*/
    }
    &_logo .logo{
        height: 68px;
        @include mobile{
        height: 46px;
        }
    }
    &_nav{
        font-size: 24px;
        font-weight: 500;
        border: 2px solid red;

        /*&_link-home , &_link-home-active {
            /* padding-left: 57px;*/
           /* @include mobile{
                padding-left: 0;  
            }
            
        }*/
        &_link-home , &_link-about {
            text-decoration: none;
        }
        &_link-home-active , &_link-about-active {
            line-height: 142.6%; /* 34.224px */
            text-decoration-line: underline;
        }
        @include mobile{
            font-size: 12px;
        
        }
    }
    .navbar{
        list-style: none;
        padding: 0;
        display: flex;
        gap: 75px;
        @include mobile{
            gap: 18px;
        }
    }
    

}
