.header{
    margin: 45px 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile{
        margin: $marginM;
        justify-content: baseline;
    }
    @include tablet{
        margin: $marginT;
    }
    &_logo .logo{
        height: 68px;
        @include mobile{
        height: 46px;
        }
    }
    &_nav{
        font-size: 24px;
        font-weight: 500;

        &_link-home , &_link-about {
            text-decoration: none;
        }
        &_link-home-active , &_link-about-active {
            line-height: 142.6%; /* 34.224px */
            text-decoration-line: underline;
        }
        @include mobile {
            font-size: 12px;
        }
        @include tablet{
            font-size: 18px;
        }
    }
    .navbar{
        list-style: none;
        padding: 0;
        display: flex;
        gap: 75px;
        @include mobile{
            gap: 18px;
        }
    }
    

}
