.banner {
    height: 223px;
    border-radius: 25px;
    margin: 0 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    text-shadow: $shadow;
    box-shadow: $shadow;
    @include mobile{
        font-size: 14px;
        margin: $marginM;
        padding:0 16px;
        height: 111px;
        font-weight: 700;
    }
    @include tablet{
        margin: $marginT;
        padding: 0 20px;
        font-size: 22px;
        height: 167px;
    }
    
}