.rate {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 5px;
    height: 36px;
    color: #ff6060;
    @include mobile{
        height: 18px;
    }
}

.star.gray {
    color: #f6f6f6; 
}
