.footer {
    background: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    &_logo-white {
        width: 122px;
    }
    &_title{
        color: white;
    }
    @include mobile{
        font-size: 12px;
        word-wrap: break-word;
    }
}